.header{
  display: flex;
  justify-content: right;
 padding: left 7px;
 padding-top: 10px;
 
  
}
.gmail {
  padding-right: 3px;
  color: black;
  text-decoration: none;
  
}
.gmail:hover{
  text-decoration: underline;
}
.img {
  padding:  5px;
  color: black;
  text-decoration: none;
}
.img:hover {
    text-decoration: underline;
}
.button{
  padding: 10px 25px;
  background-color: #1a73e8;
  border: none;
color: aliceblue;
border-radius: 5px;
width: 700;
}
.button:hover{
  background-color: #23579b;
}
.img-google{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  
}
.input{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30px;
    border-radius: 33px;
    border-color: none;
    padding: 0px 20px;
    border: 1px solid gray;
    outline: none;
    
  }
  .input-b{
    display: flex;
    justify-content: center;
    color: red;
    
  }
.button-u{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
 
}
.gs{
  padding: 8px 12px;
    
}
.fl{
  padding: 8px 12px;

}
.goie{
display: flex;
justify-content: center;
padding-top: 25px;
font-size: 15px;
}
.bd{
  padding: 50px 50px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}
.img{
  width: 350px;
  height: 150px;
  padding: top 20px;
}